

.containercart {
    
    .contai-cart {
     
        .rowlinks{
            
            .rowlines{
                .vertical-thick-line {
                    width: 5px;
                    height: 30px;
                    background-color: #333;
                    /* Thay đổi màu sắc nếu cần */
                    margin: 5px 0px 5px 60px;
                    display: inline-block;
                    
                }
            }
            .links{
                .linkcarts{
                    margin-top: 8px;
                    font-size: 16px;
                }
            }
        }
       
       
      
        margin-top: 40px;
        background-color: #EFD4D0;
        height: 40px;
       
    }

    .mycart {
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 30px;
    }

    .short-thick-line {
        width: 70px;
        height: 6px;
        background-color: #333;
        /* Thay đổi màu sắc nếu cần */
        margin: 20px auto;
    }

    .cart-main {
        .row-cart {
            .row-cart-item {
                
                .cart-item {
                   
                    .image-product-cart {
                        margin-left: 0px;
                        width: 130px;
                        height: 130px;
                        

                        .image-product {
                            width: 130px;
                            height: 130px;
                        }
                    }
                }

                .cart-product-item {
                    margin-left: 50px;
                    
                    .nameproduct {
                        font-weight: bold;
                        font-size: 20px;
                    }

                    .price {
                        font-size: 18px;
                        margin-top: 20px;
                    }

                    .priced {
                        color: darkgrey;
                        position: relative;
                        display: inline-block;
                    }

                    .priced:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        right: 0;
                        border-top: 1px solid #000;
                        /* Thay đổi màu sắc và độ dày của gạch chữa */
                        transform: translateY(-50%);
                    }

                    .size {
                        margin: 0px;
                    }

                    .quantity {
                        margin-top: 15px;
                        .apart-from {
                            
                            text-align: center;
                            border: solid 0px;
                        }

                        .value-quantity {
                            font-size: 14px;
                            font-weight: bold;
                            height: 25px;
                            width: 40px;
                            text-align: center;
                            border: lightgray solid 2px;
                        }

                        .add {
                            
                            text-align: center;
                            border: solid 0px;
                        }
                    }
                }
            }

        }

        .infomationtocart {
            .infomation-cart {
                border: lightgray solid 2px;
                height: 300px;

                .cracked-line {
                    width: 95%;
                    height: 2px;
                    background-image: linear-gradient(to right, gray, gray 50%, transparent 50%, transparent 100%);
                    background-size: 10px 2px;
                    background-repeat: repeat-x;
                    margin: 20px 0;
                    margin-left: 8px;

                }

                .infomation {
                    font-weight: bold;
                    margin-left: 90px;
                    font-size: 20px;
                }

                .total-amount-name {
                    margin-left: 20px;
                }

                .total-amount {
                    margin-left: 140px;
                    font-weight: bold;
                    color: red;
                    font-size: 18px;
                }

                .btn-pay {
                    margin-top: 45px;
                    margin-left: 43px;
                   
                    border: solid 0px;
                    width: 280px;
                    height: 45px;
                   

                    display: inline-block;
                    padding: 10px 20px;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    border: none;
                    border-radius: 4px;
                    background: linear-gradient(to right, red,#EFD4D0 );
                    color: #fff;
                    transition: background-position 0.5s ease;
                    background-size: 200% auto;

                    .pay-name {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                .btn-pay:hover {
                    background-position: right center;
                  }
                .icon {
                    margin-left: 120px;
                }

                .repurchase {
                    color: red;
                    margin-left: 5px;
                    font-size: 13px;
                }

                .icon-repurchase {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .note-cart {
       margin-bottom: 20px;
       margin-left: 70px;
        .note-name {
            font-weight: bold;
        }

        .note-write {
            width: 300px;
            height: 120px;
        }
    }
}