// trang chủ

.container {
  .botton-xem {
    display        : flex;
    justify-content: center;
    /* căn giữa theo chiều ngang */
    align-items    : center;

    /* căn giữa theo chiều dọc */
    .link-xem {
      width           : 150px;
      height          : 40px;
      background-color: #ff7675;
      text-decoration : none;
      display         : flex;
      justify-content : center;
      border          : 2px solid #ff7675;
      /* căn giữa theo chiều ngang */
      align-items     : center;
      color           : #fff;
      z-index         : 1;
      overflow        : hidden;
      position        : relative;
    }

    .link-xem:hover {
      color: #ff7675;
    }

    .link-xem::after {
      content   : "";
      background: #fff;
      position  : absolute;
      z-index   : -1;
      padding   : 0.85em 0.75em;
      display   : block;
    }

    .link-xem::after {
      left      : -20%;
      right     : -20%;
      top       : 0;
      bottom    : 0;
      transform : skewX(-45deg) scale(0, 1);
      transition: all 0.3s ease;
    }

    .link-xem:hover::after {
      transform : skewX(-45deg) scale(1, 1);
      transition: all 0.3s ease-out;
    }

  }

  .dung {
    color: red;
  }


  .row {
    .product {
      .product-content {
        margin-bottom: 20px;

        // .card-title {
        //   white-space  : nowrap;
        //   overflow     : hidden;
        //   text-overflow: ellipsis;
        //   max-width    : 100%;
        // }

        .product-price {
          display        : flex;
          justify-content: space-between;
          font-weight    : 500;
          font-size      : 17px;

          .price {
            color: red;
          }

          .priced {
            text-decoration: line-through;
          }
        }
      }

      .link_to {
        text-decoration: none;
        color          : black;
      }

      img {
        width: 95%;
      }

      p {
        width: 90%;

        text-align: center;
      }

      width: 20%;
    }

    display: flex;
  }
}