// chi tiết
.container {
  .link {
    // p{
    //   font-family: DungHo;
    // }
    display         : flex;
    align-items     : center;
    width           : 100%;
    height          : 40px;
    background-color: #efd4d0;

    .border-line {
      margin-left     : 50px;
      width           : 5px;
      height          : 80%;
      background-color: black;
      border          : 3px solid black;
      border-radius   : 20px;
    }
  }

  .row {
    width : 90%;
    margin: 0 auto;

    .ProductImg {
      width: 50%;

      .slider {
        .carousel-item {
          img {
            width: 100%;
          }
        }

        .carousel-indicators {
          position: unset;

          .btn-img {
            min-width: 100px;
            height   : auto;
          }

          .button_0 {
            width: max-content !important;
          }

        }
      }

      img {
        height: 493px;
      }
    }

    .ProductDetail {
      .ProductName {
        font-size  : 30px;
        font-weight: 700;
      }

      .saleBlock {
        font-size: 30px;
        display  : flex;

        .sale {
          text-align      : center;
          background-color: #ededed;
          color           : red;
          margin-right    : 10px;
        }

        .money {
          display: flex;

          .MoneyRed {
            color       : red;
            margin-right: 10px;
          }

          .Moneygach {
            text-decoration: line-through;
          }
        }
      }

      .Size {
        width: 100%;

        .form-check {
          width: 15%;

          .size-checkbox-container {
            display  : flex;
            flex-wrap: wrap;
          }

          .size-checkbox-label {
            flex         : 0 1 auto;
            display      : inline-flex;
            align-items  : center;
            padding      : 5px 10px;
            border       : 1px solid #ccc;
            border-radius: 5px;
            cursor       : pointer;
            margin-right : 10px;
            margin-bottom: 10px;
            min-width    : 50px;
            /* Minimum width to make sure it's not too small */
          }

          .size-checkbox-label.checked {
            background-color: black;
            color           : white;
          }

        }

        .stocking {
          display         : flex;
          align-items     : center;
          justify-content : center;
          color           : white;
          background-color: #000;
          width           : 80px;
          height          : 80px;
        }

        .nostocking {
          width           : 80px;
          height          : 80px;
          background-color: white;
          color           : black;
          display         : flex;
          align-items     : center;
          justify-content : center;
          text-decoration : line-through;
          border          : 1px solid black;
        }
      }

      .quantityblock {
        width: 100%;

        .add {
          display         : flex;
          width           : 50px;
          height          : 50px;
          background-color: #f5f5f5;
          align-items     : center;
          justify-content : center;
          border          : none;
        }

        .quantity {
          width : 100px;
          height: 50px;
          border: 3px solid black;
        }

        .quantity::-webkit-outer-spin-button,
        .quantity::-webkit-inner-spin-button {
          -webkit-appearance: none;
          /* Chrome, Safari, Edge, Opera */
          margin            : 0;
        }

        .minus {
          display         : flex;
          width           : 50px;
          height          : 50px;
          background-color: #f5f5f5;
          align-items     : center;
          justify-content : center;
          border          : none;
        }
      }

      .button-them {
        .add-cart {
          width           : 100%;
          height          : 70px;
          background-color: #ff8787;
          color           : white;
          border          : 2px solid #ff8787;
          font-size       : 20px;
          border-radius   : 10px;
          position        : relative;
          z-index         : 1;
          overflow        : hidden;
        }

        .add-cart:hover {
          color: #ff7675;
        }

        .add-cart::after {
          content   : "";
          background: #fff;
          position  : absolute;
          z-index   : -1;
          padding   : 0.85em 0.75em;
          display   : block;
        }

        .add-cart::after {
          left      : -20%;
          right     : -20%;
          top       : 0;
          bottom    : 0;
          transform : skewX(-45deg) scale(0, 1);
          transition: all 0.3s ease;
        }

        .add-cart:hover::after {
          transform : skewX(-45deg) scale(1, 1);
          transition: all 0.3s ease-out;
        }
      }

      .MoTa {
        font-size: 25px;
      }

      .TenMoTa {
        font-size: 20px;
      }
    }
  }

  .colorLine {
    flex-wrap: wrap;
    gap      : 10px;

    .form-check {
      width: 5%;
    }

    .form-check-input {
      width : 30px;
      height: 30px;
    }

    .form-check-input:checked[type=checkbox] {
      --bs-form-check-bg-image: none;
    }





    .form-check-input:checked {
      border: 4px solid rgb(144, 198, 212); // Change the border color as needed
    }
  }

  .botton-xem {
    display        : flex;
    justify-content: center;
    /* căn giữa theo chiều ngang */
    align-items    : center;

    /* căn giữa theo chiều dọc */
    button {
      width           : 150px;
      height          : 40px;
      border-radius   : 10%;
      background-color: #efd4d0;
      border          : 0px solid #fff;
    }
  }

  .dung {
    color: red;
  }
}