.grow_skew_forward {
    background: #ff7675;
    color: #fff;
    border: 2px solid #ff7675;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.grow_skew_forward:hover {
    color: #ff7675;
}

.grow_skew_forward::after {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}

.grow_skew_forward::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.grow_skew_forward:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.3s ease-out;
}