.btn_add {
    height       : 50px;
    width        : 150px;
    border-radius: 20px;


}

.ad-content {
    .container {
        .row {
            .col-6 {


                .input_search {
                    height       : 50px;
                    width        : 400px;
                    border-radius: 20px;
                }
            }

            .addIcon {
                .btn_add {
                    text-decoration: none;
                }
            }
        }
    }
}