.web-body {

    .admin-board {

        .menu-bar {
            position: fixed;
            width: 16%;
            height: 100%;
            z-index: 10;
            box-shadow: 3px 0 3px 0 rgb(0 0 0 / 0.1), 2px 0 2px -1px rgb(0 0 0 / 0.1);
            background-color: #fff;

            .logo {
                display: flex;
                justify-content: center;

                img {
                    width: 100px;
                }
            }

            .menu {
                padding: 0;
                font-weight: 500;

                .active {
                    border-right: 5px solid #4318FF;
                }

                .menu-item {
                    font-size: 18px;

                    .admin-management {
                        color: black;
                        display: block;
                        padding: 12px 30px;
                        text-decoration: none;

                        &:hover {
                            background-color: #EEF3FF;
                            color: #2DAAED;
                        }
                    }
                }
            }
        }

        .ad-display {
            position: relative;
            width: calc(100% - 16%);
            left: 16%;

            .ad-header {
                position: fixed;
                background-color: #fff;
                height: 50px;
                width: calc(100% - 16%);
                z-index: 1;
                box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
                padding: 0 20px;

                .nav-menu {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;

                    .nav-menu-item {
                        font-size: 20px;

                        .nav-link {
                            height: 50px;

                            img {
                                height: 100%;
                                border-radius: 50%;
                            }
                        }

                        .dropdown-menu {
                            li {
                                .dropdown-item-ed {
                                    text-decoration: none;
                                    color: black;
                                    padding: 5px 20px;
                                    display: block;

                                    &:hover {
                                        background-color: #EEF3FF;
                                        color: #2DAAED;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .ad-content {
                position: relative;
                top: 50px;
            }
        }
    }
}