nav{
    .navbar-brand{
        width: 100px;
    }
    #collapsibleNavbar{
        .main-menu{
            flex: 3;
            justify-content: center;
            .nav-item{
                padding: 0 20px;
            }
        }
        .icon-btn{
            flex: 1;
            justify-content: end;
            .nav-item{
                padding: 0 20px;
            }
            .icon{
                font-size: 20px;
            }
        }
    }
}